
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#evernote-container {
    height: 100%;
}
.app-container {
    height: 100%;
}
.quill {
    height: 100%;
    width: calc(100% - 300px);
    float: left;
}
.ql-container {
    height: calc(100% - 42px);
    overflow-y: scroll;
}
.ql-editor {
    cursor: text;
}
.MuiListItem-root.Mui-selected {
    background-color: #d4d8e8 !important;
}
.no-note-selected {
    font-size: 48px;
    position: absolute;
    top: 50px;
    left: calc(50% - 165px);
}

:root {
    height: "calc(100% - 35px)";
    position: "absolute";
    left: "0";
    width: "300px";
    box-Shadow: "0px 0px 2px black";
}

.newChatBtn {
    border-radius: "0px";
}
.unreadMessage {
    color: "red";
    position: "absolute";
    top: "0";
    right: "5px";
}
.newNoteBtn {
    width: "100%";
    height: "35px";
    border-bottom: "1px solid black";
    border-radius: "0px";
    background-color: "#29487d";
    color: "white";
    &:hover {
        background-color: "#88a2ce";
    }
}
.sidebarContainer {
    margin-top: "0px";
    width: "300px";
    height: "100%";
    float: "left";
    overflow-y: "scroll";
    overflow-x: "hidden"
}
.newNoteInput {
    width: "100%";
    margin: "0px";
    height: "35px";
    outline: "none";
    border: "none";
    padding-left: "5px";
    &:focus {
        outline: "2px solid rgba(81, 203, 238, 1)"
    }
}
.newNoteSubmitBtn {
    width: "100%";
    background-color: "#28787c";
    border-radius: "0px";
    color: "white";
}